*{
margin: 0;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}



h1 {
	font-size: 14px;
	color: white;
	text-align: center;
}

p {
	padding: 5px 0px;
	font-family: Century Gothic, sans-serif;
}

body {
	padding: 0px;
	font-family: Helvetica,Roboto,Arial,sans-serif;
	font-size: 13px;
}

#popupContainerDiv {
	min-width: 190px;
}

#helpDiv {
	min-width: 250px;
}

.popupBorder {
	min-height: 20px;
	background-color: lightblue;
}

.button {
	background-color:white;
	border: 2px solid #008CBA;
	border-radius: 4px;
	color: black;
	padding: 5px 8px;
	font-size: 12px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #008CBA;
    color: white;
	border: 2px solid #000000;
	border-radius: 4px;
}

.noToken {
	background-color:white;
	border: 2px solid rgb(243, 4, 44);
	border-radius: 4px;
	color: black;
	padding: 5px 8px;
	font-size: 12px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.yesToken{
	background-color:white;
	border: 2px solid rgb(243, 4, 44);
	border-radius: 4px;
	color: black;
	padding: 5px 8px;
	font-size: 12px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.wrap {
	display: flex;
	justify-content: space-between;

}

label.secretGetFile input[type="file"] {
    position: fixed;
    top: -1000px;
}

/***** Example custom styling *****/
.secretGetFile {
    background-color:white;
	border: 2px solid #008CBA;
	border-radius: 4px;
	color: black;
	padding: 5px 8px;
	font-size: 12px;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.secretGetFile:hover {
    background-color: #008CBA;
    color: white;
	border: 2px solid #000000;
	border-radius: 4px;
}
